@import './article/header';
@import './article/footer';

$padding: 3em;

.article {
  .article-intro {
    color: $light-grey;
    font-size: 1.5em;
    font-weight: $font-weight-light;
    text-align: center;
    margin: 2em 2em;

    @media (max-width: $breakpoint-middle) {
      font-size: 1.3em;
      margin: 1.5em 0;
    }
  }

  p {
    @include article-paragraph;
  }

  blockquote {
    color: $green;
    margin: 1em;
    padding: 0 1em;
    font-size: 2.5em;
    font-family: $font-family-header;
    font-weight: $font-weight-bold;
    text-align: center;
    position: relative;
    word-wrap: break-word;

    @media (max-width: $breakpoint-tiny) {
      font-size: 1.5em;
    }

    &:before,
    &:after {
      font-size: 1.7em;
      line-height: 0;
      position: absolute;
      top: 50%;
    }

    &:before {
      content: '«';
      left: -0.3em
    }

    &:after {
      content: '»';
      right: -0.3em
    }
  }

  .image-full-width {
    @include article-image-full-width;
  }
}
