.content {
  padding-top: $header-height;
  margin-bottom: 4em;
  flex: 1 0 auto;
  width: 100%;

  @media (max-width: $breakpoint-middle) {
    margin-bottom: 2em;
  }

  @media (max-width: $breakpoint-tiny) {
    margin-bottom: 1em;
  }
}
