$border-bottom: 1px solid $extra-light-grey;

.header {
  background-color: $white;
  border-bottom: $border-bottom;

  width: 100%;
  height: $header-height;

  box-sizing: border-box;
  padding: 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 100;

  &.header-fixed {
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.header-dark {
    background-color: $extra-dark-grey;
    color: $light-grey;
    border-bottom-color: $transparent;
  }

  &.header-special {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5em;
    font-size: 1.4em;

    .header-nav {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 0;

    li {
      font-family: $font-family-header;
      font-weight: $font-weight-bold;
      font-size: 1em;
      text-transform: lowercase;
      display: inline;
      margin-left: 1.5em;
    }

    a {
      display: flex;
      align-items: center;

      i {
        font-size: 0.7em;
        margin-right: 0.5em;
      }
    }
  }

  .menu-hamburger {
    display: none;
    color: $green;
    cursor: pointer;
    margin-left: 1em;
  }

  @media (max-width: $breakpoint-tiny) {
    .menu {
      background-color: $white;
      border-bottom: $border-bottom;

      position: absolute;
      left: 0;
      top: $header-height;
      padding: 1em;
      margin: 0;
      width: 100%;

      opacity: 0;
      transition: opacity 150ms linear;

      display: flex;
      justify-content: space-around;

      li {
        margin-left: 0;
      }

      &.menu-visible {
        opacity: 1;
      }
    }

    .menu-hamburger {
      display: block;
    }
  }

  &.headroom--unpinned {
    opacity: 0;
  }

  &.headroom--pinned {
    opacity: 1;
  }
}
