.image-dropzone {
  display: flex;
  align-items: stretch;

  .image-dropzone-element {
    width: 100%;
  }

  .dropzone-filelist {
    display: flex;
    flex-wrap: wrap;
  }

  .image-dropzone-preview {
    position: relative;

    .image-dropzone-preview-mask {
      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms ease-in;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .image-dropzone-preview-mask-background {
      opacity: 0.7;
      background-color: $white;
      z-index: 2;

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .image-dropzone-preview-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      width: 100%;
      z-index: 5;
    }

    &:hover {
      .image-dropzone-preview-mask {
        opacity: 1;
        pointer-events: all;
      }
    }

    &.image-dropzone-preview-single {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &.image-dropzone-preview-multiple {
      font-size: 0.8em;
      padding: 0.5em;

      width: 20%;
      min-width: 3em;
      max-width: 15em;

      user-select: none;

      .image-dropzone-preview-inner {
        background-size: cover;
        background-position: center center;
        border-radius: 0.5em;
      }

      .image-dropzone-preview-name {
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  &.image-dropzone-disabled {
    pointer-events: none;

    .image-dropzone-preview,
    .image-dropzone-file-preview-wrapper {
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }
}
