.image-dropzone {
  display: flex;
  align-items: stretch;

  .image-dropzone-element,
  .image-dropzone-preview {
    width: 50%;
  }

  .image-dropzone-preview {
    position: relative;
    margin-left: 1em;

    .image-dropzone-preview-mask {
      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms ease-in;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .image-dropzone-preview-mask-background {
      opacity: 0.5;
      background-color: $white;
      z-index: 2;

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .image-dropzone-preview-remove-button {
      z-index: 5;
    }

    &:hover {
      .image-dropzone-preview-mask {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &.image-dropzone-disabled {
    .image-dropzone-preview {
      .image-dropzone-preview-mask {
        opacity: 1;
      }

      .image-dropzone-preview-remove-button {
        display: none;
      }
    }
  }
}
