.project-preview {
  color: $white;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  position: relative;
  margin: 1em 0;

  @include aspect-ratio(9, 2);

  @media (max-width: $breakpoint-small) {
    @include aspect-ratio(3, 1);
  }

  @media (max-width: $breakpoint-tiny) {
    @include aspect-ratio(5, 2);
  }

  .project-preview-content {
    padding: 2em;
    z-index: 30;
  }

  .project-preview-text {
    padding: 1em;
    overflow: hidden;
    height: 100%;
  }

  .project-preview-title {
    margin-top: 0;
  }

  .project-preview-background-gradient {
    background: linear-gradient(to bottom left, transparentize($black, 0.55), transparentize($black, 0.45));
    opacity: 0.55;
    transition: opacity 300ms linear;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  &:hover {
    color: $white;

    .project-preview-background-gradient {
      opacity: 0.7;
    }
  }
}

.project-preview-with-image {
  @include aspect-ratio(7, 2);

  @media (max-width: $breakpoint-small) {
    @include aspect-ratio(2, 1);
  }

  @media (max-width: $breakpoint-tiny) {
    @include aspect-ratio(10, 7);
  }

  &:hover {
    .project-preview-background-gradient {
      opacity: 1;
    }
  }
}

.project-preview-large {
  @include aspect-ratio(3, 1);

  @media (max-width: $breakpoint-small) {
    @include aspect-ratio(2, 1);
  }

  @media (max-width: $breakpoint-tiny) {
    @include aspect-ratio(5, 4);
  }

  @media (min-width: $breakpoint-small) {
    .project-preview-title {
      margin-top: 0;
      margin-bottom: 0;
      transition: margin-bottom 250ms linear;
    }

    .project-preview-description {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: height 250ms linear, opacity 350ms linear;
    }

    &:hover {
      .project-preview-title {
        margin-bottom: 0.3em;
      }

      .project-preview-description {
        height: auto;
        opacity: 1;
      }
    }
  }
}

.project-preview-short {
  .project-preview-content {
    padding: 0.5em;
  }

  @include aspect-ratio(6, 1);

  @media (max-width: $breakpoint-small) {
    @include aspect-ratio(4, 1);
  }

  @media (max-width: $breakpoint-tiny) {
    @include aspect-ratio(2, 1);
  }
}
