.search-result {
  padding: 1em 1em 0 1em;
  margin-left: -1em;
  margin-right: -1em;
  transition: background-color 200ms linear;

  .search-result-title {
    margin-top: 0;
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
  }

  .search-result-type {
    color: $light-grey;
  }

  .search-result-description {
    margin-top: 0.5em;
  }

  .search-result-tags {
    margin-top: 1em;
    font-family: $font-family-header;
    font-weight: 600;

    > * {
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .search-result-bottomline {
    padding-top: 1em;
    border-bottom: 1px solid $extra-light-grey;
  }

  &:last-child {
    .search-result-bottomline {
      border: none;
    }
  }

  &:hover {
    background-color: $almost-white;
  }
}
