.photo-album-preview {
  cursor: pointer;

  .photo-album-preview-inner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .photo-album-preview-content {
    opacity: 0;
    transition: opacity 200ms linear;
    pointer-events: none;
  }

  .photo-album-preview-text,
  .photo-album-preview-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .photo-album-preview-text {
    color: $almost-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2em;
    word-break: break-all;
    z-index: 10;
  }

  .photo-album-preview-description {
    margin-bottom: 1em;
  }

  .photo-album-preview-info {
    color: $white;
    opacity: 0.6;
  }

  .photo-album-preview-mask {
    background: $black;
    z-index: 5;
    opacity: 0.85;
  }

  &:hover {
    .photo-album-preview-content {
      opacity: 1;
      pointer-events: all;
    }
  }
}
