.photo-album {
  .photo-album-title {
    margin: 0;
  }

  .photo-album-description {
    color: $extra-light-grey;
    margin-top: 1em;
    white-space: pre-wrap;
  }

  .photo-album-layout {
    margin-top: 2em;
  }

  .photo {
    cursor: pointer;
    transition: transform 300ms ease-in;

    .photo-inner {
      background-position: center center;
      background-size: 100%;
      transition: background-size 300ms ease-out, outline 250ms linear;
      outline: 0.5em solid transparent;
    }

    &:hover {
      .photo-inner {
        background-size: 101%;
        outline-color: $grey;
      }
    }

    img {
      max-width: 100%;
      display: block;
    }
  }
}
