.photography-breadcrumbs {
  color: $light-grey;
  margin-bottom: 1em;
  padding: 0;
  list-style: none;

  a {
    color: $light-grey;
    text-decoration: none;

    &:hover {
      color: lighten($light-grey, 20%);
    }
  }

  .photography-breadcrumbs-item,
  .photography-breadcrumbs-item * {
    display: inline;
  }

  .photography-breadcrumbs-item {
    margin-right: 1em;
  }
}
