.photography-header {
  font-size: 1.4em;
  padding: 1.5em 0;

  a {
    text-decoration: none;
  }

  .photography-header-admin {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 0.5em;

    a {
      color: $light-grey;

      &:hover {
        color: $almost-white;
      }
    }

    i {
      margin-right: 0.5em;
    }
  }
}
