.editor-wrapper {
  position: relative;

  .editor-label {
    margin-bottom: 0.5em;
  }

  .fr-wrapper {
    a[href*="froala.com/wysiwyg-editor?k=u"] {
      display: none !important;
    }
  }

  .editor {
    font-size: 0.9em;

    p {
      margin: 0.5em 0;
    }

    pre {
      background: $dark-grey;
      color: $white;
    }

    hr {
      margin: 1em 0;
    }
  }

  .editor-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.8;
    display: none;
    z-index: 100;
  }

  &.editor-wrapper-disabled {
    .fr-wrapper {
      background-color: $extra-light-grey !important;
    }

    .editor-mask {
      display: block;
    }
  }
}

.editor-loader-icon {
  stroke: $green;
  width: 2em;
}
