.editor-wrapper {
  position: relative;

  .editor-label {
    margin-bottom: 0.5em;
  }

  .fr-wrapper {
    a[href*="froala.com/wysiwyg-editor?k=u"] {
      display: none !important;
    }
  }

  .editor {
    font-size: 0.9em;

    p {
      margin: 1em 0;
      line-height: 1.6em;
    }

    $paragraph-side-padding: 3em;

    p,
    .fr-element > img:not(.image-full-width) {
      padding: 0 $paragraph-side-padding;
    }

    ul, ol {
      padding: 0 calc(#{$paragraph-side-padding} + 1em);
    }

    .image-full-width {
      max-width: 100vw !important;
      width: calc(100% + 2 * #{$paragraph-side-padding});
      transform: translate(-$paragraph-side-padding, 0);
    }

    blockquote {
      font-size: 1.1em;
      margin-left: 4em;
      margin-right: 4em;
      padding-left: 1em;

      p {
        padding: 0;
      }
    }

    .quote {
      color: $green !important;
      border-left: 2px solid $green;
      font-size: 1.1em;
    }

    .longquote {
      font-size: 0.9em;
      color: $grey;
      font-style: italic;
      border-left: 2px solid $grey;
    }

    .quote,
    .longquote {
      margin: 1 6rem;
      padding: 0 1rem;

      &.fr-command {
        margin: 0;
      }
    }

    pre {
      background: $dark-grey;
      color: $white;
    }

    hr {
      margin: 1em 0;
    }
  }

  .editor-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.8;
    display: none;
    z-index: 100;
  }

  &.editor-wrapper-disabled {
    .fr-wrapper {
      background-color: $extra-light-grey !important;
    }

    .editor-mask {
      display: block;
    }
  }

  .fr-view blockquote {
    color: $green;
    border-color: $green;
  }
}

.editor-loader-icon {
  stroke: $green;
  width: 2em;
}
