.admin-panel-section-item {
  .admin-panel-section-item-title {
    a {
      text-decoration: none;
    }
  }

  .admin-panel-section-item-badges {
    color: $grey;
    font-weight: 200;
    font-size: 0.6em;
    line-height: 2.1em;
    margin-left: 1em;
  }
}
