.button {
  .button-element {
    @include input;

    display: block;

    background-color: $white;
    border: 1px solid $grey;
    font-family: $font-family-header;
    padding: 0.6em 1em 0.5em 1em;
    width: 100%;

    text-decoration: none;
    transition: all 100ms linear;

    &:hover {
      color: $white;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &.button-color-green .button-element:hover {
    border-color: $green;
    background-color: $green;
  }

  &.button-color-red .button-element:hover {
    border-color: $bloody-red;
    background-color: $bloody-red;
  }

  &.button-color-black .button-element:hover {
    border-color: $black;
    background-color: $black;
  }

  &.button-disabled {
    .button-element {
      pointer-events: none;

      background-color: $almost-white;
      color: $light-grey;
      border-color: $extra-light-grey;
    }
  }
}
