html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: $font-family-main, Helvetica, sans-serif;

  @media (max-width: $breakpoint-middle) {
    font-size: 16px;
  }

  @media (max-width: $breakpoint-small) {
    font-size: 14px;
  }

  @media (max-width: $breakpoint-tiny), (min-aspect-ratio: 2/1) and (max-width: $breakpoint-middle) {
    font-size: 12px;
  }
}

.container {
  max-width: $breakpoint-middle;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $container-padding;

  @media (max-width: $breakpoint-middle) {
    max-width: 100vw;
    padding: 0 $container-padding-middle;
  }

  @media (max-width: $breakpoint-tiny) {
    padding: 0 $container-padding-tiny;
  }
}

h1, h2, h3, h4 {
  font-family: $font-family-header, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: $font-weight-black;

  @media (max-width: $breakpoint-tiny) {
    font-size: 3em;
  }
}

h2 {
  font-size: 2.5em;
  font-weight: $font-weight-black;
  margin: 0.5em 0;

  @media (max-width: $breakpoint-tiny) {
    font-size: 1.75em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: $font-weight-black;
  margin: 0.5em 0;

  @media (max-width: $breakpoint-tiny) {
    font-size: 1.2em;
  }
}

.article, .page, .project, .category {
  p {
    line-height: 1.5em;
    hyphens: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

svg {
  width: auto;
  height: auto;
}

a {
  color: $green;
  text-decoration: underline;
  transition: color 150ms linear;
  cursor: pointer;

  &:hover {
    color: darken($green, 10%)
  }
}

input {
  border-width: 0;
  border-bottom-width: 2px;
}

textarea {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  resize: none;
}

hr {
  border-top: 1px solid $extra-light-grey;
  border-right: none;
  border-bottom: none;
  border-left: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

.headroom {
  transition: all 200ms linear;

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.aspect-ratio-16-9 {
  @include aspect-ratio(16, 9);
}

.aspect-ratio-16-10 {
  @include aspect-ratio(16, 10);
}

.aspect-ratio-4-3 {
  @include aspect-ratio(4, 3);
}

.aspect-ratio-1-1 {
  @include aspect-ratio(1, 1);
}

.children-horizontal-padding-1 {
  @include children-horizontal-padding(1em);
}

.children-horizontal-padding {
  @include children-horizontal-padding();
}

.children-vertical-padding-1 {
  @include children-vertical-padding(1em);
}

.children-vertical-padding {
  @include children-vertical-padding();
}

.grid-item-width-sm {
  width: 25%;
}

.grid-item-width-md {
  width: 50%;
}

.grid-item-width-lg {
  width: 100%;
}

.smaller {
  font-size: 0.75em;
}

.larger {
  font-size: 1.2em;
}

.margin-left {
  margin-left: 1em;
}

.margin-left-small {
  margin-left: 0.5em;
}

.margin-right {
  margin-right: 1em;
}

.margin-right-small {
  margin-right: 0.5em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-bottom-small {
  margin-bottom: 0.5em;
}

.margin-top {
  margin-top: 1em;
}

.margin-top-small {
  margin-top: 0.5em;
}

.padding-left {
  padding-left: 1em;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.video-16-9 {
  padding: 0 !important;

  @include aspect-ratio(16, 9);

  iframe {
    width: 100%;
    height: 100%;
  }
}

.balance-text {
  text-wrap: balance;
}

@media (max-width: $breakpoint-middle) {
  .grid-item-width-sm {
    width: calc(100% / 3);
  }

  .grid-item-width-md {
    width: calc(100% / 3 * 2);
  }
}

@media (max-width: $breakpoint-small) {
  .grid-item-width-sm {
    width: 50%;
  }

  .grid-item-width-md {
    width: 100%;
  }
}

@media (max-width: $breakpoint-tiny) {
  .grid-item-width-sm {
    width: 100%;
  }
}
