body {
  background-color: $black;
}

.photos-container {
  max-width: 100%;
  width: 100%;
  background-color: $extra-dark-grey;

  margin: 0;
  padding: 0 4em 4em;

  color: $white;
}

@media (max-width: $breakpoint-middle) {
  .photos-container {
    padding: 0 2em 2em;
  }
}

@media (max-width: $breakpoint-tiny) {
  .photos-container {
    padding: 0 1em 1em;
  }
}
